/* CSS DIRECTORY:
	HEADER
	MAIN
	SECTION
	ARTICLE
    FOOTER
    SOCIALS
    AUTHORS
    MOBILE STYLES
*/

*{
    box-sizing: border-box;
    margin: 0;
}
/* @media (min-width: 62em) { */
    /*1440-1200px-992*/ 
html, body{
    width: 1440px;
    max-width: 1440px;
    min-width: 992px;                   /*Jul2*/
    max-width: 100vw;                   /*Jul2*/
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.fa {
    display: inline-block;
    /* font-size: 14px; */
    font: normal normal normal inherit FontAwesome;
 } 
.fa-arrow-up::before{
    content: "\f062";
}
.scroll-to-top {
    display: block;
    bottom: 20px;
    right: 20px;
    background: hsl(170, 45%, 43%);
    color: #ffffff;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 16px 32px rgba(0,0,0,1);
    -webkit-box-shadow:  0 16px 32px rgba(0,0,0,1);
    position: fixed;
    z-index: 99;
    }

/*HEADER*/
header{
    padding: 60px 10px 10px;
    width: 100%;
    max-width: 100vw;
}
img.logo{
    max-width: 100%;
    padding-left: 70px;
    outline: none; /*IE*/
    border: none; /*IE*/
}
img.logo:hover {
    transform: skew(15deg);
    transition: 2s;
}
nav.header-about {
    display: block;
    width: 27%;
    float: right;
    width: 70%; 
    margin-right: 45px;
}
nav.header-about>ul { 
    text-align: right; 
}
nav.header-about>ul>li {
    list-style: none;
    display: inline-block;
    width: 5.5em;
    line-height: 3em;
    font-size: 0.9em;
    font-size: 1.389vw;
    padding-left: 23px;
}
nav.header-about>ul>li:first-of-type {
    padding-left: 0px;
}
nav.header-about>ul>li:hover {
    animation: aBigOne 2s;
    -webkit-animation: aBigOne 2s;
}
nav.header-about>ul>li>a {
    text-decoration: none;
    color: inherit;
}
/*END OF HEADER*/
/*MAIN*/
main{
    width: 100%;
    max-width: 100vw;
}
/*SECTION*/
section.demo {
    width: 100%;
    height: calc(50px + 42vw);               
    margin-top: 78px;
    position: relative;
    margin-top: calc(40px + 5vh);                  
}
section.demo.even  {
    background-color: hsl(240, 75%, 98%);
    max-width: 100%;
    height: 735px;
}
.even::before{
    content: '';
    position: absolute;
    display: block;
    top: -78px;
    left: 0;
    height: 78px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/bg-curve-desktop.svg");
    z-index: -1;
}
/*ARTICLE*/
article.demo-service {
    width: 50%;
    padding-left: 80px;
    float: left;
}
.even article.demo-service{
    width: 54.3%;
}

article .demo-service-title{
    font-family: 'Raleway', sans-serif;
    font-weight: bold; 
    font-size: 2.639vw; /*38px*/
    line-height: 3.819vw; /*1.5em 55px*/
    margin-top: calc(60px + 2vw); /*85px*/
    letter-spacing: 0.07vw;
}
.even article .demo-service-title{
    margin-top: 2.7em;
}
article .demo-service-content{
    font-size: 1.25vw; /*18px*/
    line-height: 1.667vw; /*24px*/
    margin: 1.4em 0;
    margin: 1.389vw 0 0.4em;  /*20px/1.4em     */            /*Jul2*/
    width: 90%;
}
.even article .demo-service-content {
    font-size: 1.111vw; /*16px*/
    line-height: 1.667vw; /*24px*/
    margin: 1.667vw 0 0.625vw;
    width: 77%;
}
.demo-service-link{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 2px solid hsl(170, 45%, 43%);
    font-size: 1.2vw;
}
.demo-service-link:hover{
    font-style: italic;
    font-size: 1.3vw;
}
.demo-service-link::after{
    content: url(images/icon-arrow.svg);
    height: 1.6vw;
    width: auto;
    padding-left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}
.demo-service-testimonial{
    width: 50%;
    background: #ffffff;
    border-radius:4px;
    margin-top: 45px;
    padding: 50px 30px 0px;  
    background: hsl(240, 75%, 98%) url(images/icon-quotes.svg) 30px 30px no-repeat;
    font-size: 1vw;
    line-height: 1.7em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    box-shadow: 2px 2px 32px 1px hsl(0, 0%, 75%);
    background-size: 1.3vw auto;
}
/* blockquote.demo-service-testimonial p::before{
    content: "";
    background-image: url(images/icon-quotes.svg);
    display: block;
    height: 1.6vw;
    width: auto;
    margin: 8px 0;
    background-repeat: no-repeat;
    background-size: contain;
} */
.demo-service-testimonial-img{
    display: block;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 15px;
    float: left;
}
.demo-service-testimonial cite{
    display: block;
    font-weight: bold;
    font-style: normal;
    line-height: 1.3;
    padding: 15px 50px;
}
.demo-service-testimonial cite span{
    font-weight: normal;
    font-size: 0.9vw;
}
.demo-service .demo-service-form {
    display: inline-block;
}
.demo-service input.demo-service-form-input {
    width: 320px;
    height: 45px;
    color: hsl(0, 0%, 75%);
    font-size: 1.2vw;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    padding-left: 2vw;
    margin-right: 0.9vw;
    margin-top: 1em;                 /*Jul2*/
}
.demo-service input.demo-service-form-input:focus,
.sign-up input.demo-service-form-input:focus {
    color: hsl(243, 87%, 12%);
}
article button.demo-service-form-btn {
    margin: 0;
    margin-top: 1em;                
    width: 200px;
    height: 45px;
    background-color:hsl(224, 93%, 58%);
    color:  hsl(240, 75%, 98%);
    font-size: 1.2vw;
    letter-spacing: 0.06em;
    border: none;
    border: hsl(240, 75%, 98%);
    box-shadow: hsl(240, 75%, 98%) 3px 3px 3px 3.5px;
    box-shadow: hsl(0, 0%, 75%) 1px 1px 5px 0.5px;
    outline: none;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
}
article button:hover{
    background-color: rgb(151, 128, 218);
    color: #fff;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
/*END OF ARTICLE*/
img.demo-service-img {
    width: 50%;
    max-width: 100%;
    float: right;
    padding-right: 70px;
}
.demo-service-img-mob {
    display: none;
}
.even img.demo-service-img{
    width: 44%;
    margin: 124px 0px 0px;
}
/*END OF SECTION*/
section.sign-up {
    clear: both;
    background-color: hsl(238, 22%, 44%);
    color: #fff;
    padding: 7.986vw 5.556vw 5.903vw;
    /* max-width: 100vw; */
    max-width: 100%; /*IE*/
}
.sign-up-promo{
    width: 50%;
    float: left;
}
.sing-up-title {
    letter-spacing: 0.08em;
    font-size: 2.014vw;
}
.sign-up-content {
    padding-top: 1.2em;
    font-size: 1.111vw;
    width: 35vw;
}
.sign-up .demo-service-form {
    padding-left: 55%;
}
.sign-up input.demo-service-form-input {
    display: block;
    height: 50px;
    width: calc(200px + 20vw);
    margin: 8px 3.819vw 10px;
    color: hsl(0, 0%, 75%);
    font-size: 1.2vw;
    padding-left: 2vw;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}
.sign-up button.demo-service-form-btn{
    margin: 8px 3.819vw 10px;
    width: 200px;
    /* width: 16vw;  */
    height: 45px;
    /* height: 2.4rem; */
    background-color:hsl(224, 93%, 58%);
    color:  hsl(240, 75%, 98%);
    font-size: 1vw;
    border: none;
    border: hsl(240, 75%, 98%);
    box-shadow:hsl(243, 87%, 12%) 1px 1px 5px 0.5px;
    outline: none;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
}
button.demo-service-form-btn:hover, button:hover{
    background-color: rgb(151, 128, 218);
    color: #fff;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
/*END OF MAIN*/

/*FOOTER*/
footer{
    /* max-width: 100vw; */
    width: 100%;
    max-width: 100%; /*IE*/
    clear: both;
    padding: 7.639vw 1.111vw 0.694vw;
    background: hsl(243, 87%, 12%);
    color:  hsl(240, 75%, 98%);
}
.logoWhite{ /*IE doesn't support mask :-( */
    /* height: 49px; */
    width: 200px;
    /* background-color: #fff;
    -webkit-mask-image: url('images/logo.svg');
    mask-image: url('images/logo.svg');
    margin-left: 70px; */
    border: none;
    outline: none;
}
.logoWhite:hover {
    transform: skew(15deg);
    transition: 2s;
}
.footer-navbar {
    padding: 20px 70px;
}
.footer-navbar-address, .footer-main-nav, 
.footer-navbar-contacts, .footer-socials {
    display: block;
    float: left;
    width: 25%;
}
footer a {
    color: hsl(240, 75%, 98%);
    text-decoration: none;
    font-style: normal;
    padding: 0px;
    display: inline-block;
}
footer a:hover{
    transform: scaleX(1.3);
    -webkit-transform: scaleX(1.3);
    -moz-transform: scaleX(1.3);
    -ms-transform: scaleX(1.3);
    -o-transform: scaleX(1.3);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
address a {
    margin: 7px 0px;
}

address .phone::before{
    content: url('images/icon-phone.svg');
    margin-right: 8px;
}
address .email::before {
    content: url('images/icon-email.svg');
    margin-right: 8px;
}
footer li {
    list-style: none;
    line-height: 2.5;
    font-size: 1.2vw;
}
.footer-main-nav li{
    padding-left: 6vw;
}
.footer-navbar-contacts li {
    padding-left: 2.4vw;
}
/*SOCIALS*/
.footer-socials{
    margin: 0;
    padding: 0;
}
li.social-item {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 33px;
    border: 1px solid hsl(240, 75%, 98%);
    border-radius: 50%;
    margin: 8px -15px 0 21px;
}
li.social-item a{
    position: absolute;
    top: -0.2em;
    left: 0.56em;
}
li.social-item i{
    color: #fff;
    font-size: 1em;
}
.social-item:hover{
    background-color: hsl(291.5, 55.3%, 64.9%);
    background-color: hsl(170, 45%, 43%);
    color: #fff;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    animation: aBigOne 2s;
}
@keyframes aBigOne{
    0%{transform: scale(1);}
    100%{ transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5);
}
}
/*END OF SOCIALS*/
/*AUTHORS*/
.attribution { 
    clear: both;
    font-size: 0.7em; 
    text-align: center;
    padding-top: 21px;
}
.attribution a {
    color: hsl(170, 45%, 43%);
}
.attribution a:hover{
    display: inline-block;
    transform: scaleY(1.5);
    -webkit-transform: scaleY(1.5);
    -moz-transform: scaleY(1.5);
    -ms-transform: scaleY(1.5);
    -o-transform: scaleY(1.5);
}
/*END OF AUTHORS*/
/*END OF FOOTER*/




/*====================================
    =================================
        ==========================
*/


/*TABLET STYLES */
@media (min-width: 46.875em) and (max-width: 62em) { /*min 751 & max 991PX*/
    html, body{
        max-width: 100vw;
        min-width: 750px;
        max-width: 991px;
        width: 100%;   /*IE*/
        max-width: 100vw; /*IE*/
    }
    /*HEADER*/
    img.logo {
        padding-left: 25px;
    }
    nav.header-about {
        margin-right: 15px;
    }
 /*END OF HEADER*/

    /*MAIN*/
    section.demo.even  {
        max-height: 525px;
    }
    article.demo-service  {
        max-width: 55%;
        padding-left: 5%;
    }
    article .demo-service-title,
    .even article .demo-service-title{
        font-size: 3vw; 
        line-height: 3.819vw; 
        margin-top: calc(25px + 2vw); 
    }    
    article .demo-service-content,
    .even article .demo-service-content,
    .sign-up-content {
        font-size: 1.5vw;
        line-height: 2.4vw;
    }
    .demo-service-testimonial{
        width: 55%;
        margin-top: 25px;
        padding: 45px 25px 0px;  
    }
    
    img.demo-service-img {
        width: 45%;
        padding-right: 2%;
    }
    section.sign-up {
        padding: 5vw;
    }
    .sing-up-title {
        font-size: 3vw;
    }
    .sign-up input.demo-service-form-input {
        width: calc(100px + 20vw);
    }
    footer{
        padding: 5vw 1.111vw 0.694vw;
    }
    .logoWhite{
        margin-left: 25px;
    }
    footer a, li, ul, p {
        font-size: 1.4vw;
    }
    li.social-item i{
        font-size: 1.3em;
    }
    li.social-item a{
        top: calc(3px + 0.01vw);
        left: calc(10px + 0.01vw);
    }

}


/*====================================
    =================================
        ==========================
*/


/*MOBILE STYLES  375PX*/

@media screen and (max-width: 46.874em){ /*750px*/
    html, body{
        max-width: 100vw;
        min-width: 370px;
        max-width: 750px;

        width: 100%;   /*Jul 8*/
        max-width: 100vw; /*Jul 8*/
    }
    /*HEADER*/
    header{
        padding: 50px 0px 10px;
    }
    img.logo{
        width: 30%;
        max-width: 30%;
        padding-left: 10px;
    }
    nav.header-about {
        width: 65%;
        max-width: 300px;
        margin-right: 10px;
}   
    nav.header-about>ul {
        padding-left: 0;
    }
    nav.header-about>ul>li {
        width: 32%; 
        line-height: 2em;
        font-size: calc(12px + 1.5vw);
        }
    /*END OF HEADER*/
    
/*MAIN*/
/*SECTION*/
section.demo {
    width: 100%;
    margin-top: 84px;
    padding-bottom: 67px;
    position: relative;
    height: 100%; /*for IE & Edge*/
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

section.demo.even  {
    background-color: hsl(240, 75%, 98%);
    max-width: 100%;
    padding-bottom: 70px;
    height: 100%; /*for IE & Edge*/
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.even::before{
    content: '';
    position: absolute;
    display: block;
    top: -60px;
    left: 0;
    height: 60px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/bg-curve-mobile.svg");
    /* z-index: 2; */
}
.even img.demo-service-img {
    position: relative;
    margin-top: 33px;
    padding: 5px;
}
/*ARTICLE*/
article.demo-service,
.even article.demo-service {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    float: none;
}
article .demo-service-title,
.even article .demo-service-title{
    font-size: calc(14px + 3vw);
    line-height: 1.45;
    text-align: center;
    width: 90%;
    margin: 1em auto;
}
article .demo-service-content,
.even article .demo-service-content{
    font-size: calc(10px + 1vw);
    line-height: 1.5em;
    width: 80%;
    margin: auto;
    text-align: center;
}
.demo-service-link::after{
    display: none;
}
.demo-service-link{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    display: block;
    width: 35%;
    margin: 3em auto;
    font-size: calc(10px + 0.5vw);
    padding: 0px 0 7px 0px;
    background: url(images/icon-arrow.svg) 100% 1px no-repeat;
    min-width: calc(120px + 2vw);
    max-width: 150px;
}
.demo-service-testimonial{ 
    width: 77%;
    margin: 40px auto 0;
    padding: 40px 15px 16px 30px;
    font-size: calc(7px + 1vw);
    background-size: calc(10px + 1vw);
}
.demo-service-testimonial-img{
    width: 25px;
    margin-top: 11px;
}
.demo-service-testimonial cite{
    line-height: 1.2;
    padding: 13px 33px;
}
.demo-service .demo-service-form {
    display: block;
    margin-top: calc(25px + 2vw);
}
.demo-service input.demo-service-form-input {
    display: block;
    width: calc(57px + 50vw);
    margin: auto;
    font-size: calc(10px + 1vw);
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    padding-left: calc(18px + 2vw);
    box-shadow: hsl(0, 0%, 75%) 1px 1px 5px 0.5px;
}
article button.demo-service-form-btn {
    display: block;
    width: calc(57px + 50vw);
    margin: auto;
    font-size: calc(10px + 1vw);
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    border-radius: 1vw;
    margin-top: 13px;
}
/*END OF ARTICLE*/

img.demo-service-img-mob {
    display: block;   
    /* width: 90%; */
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 4%;
}
img.demo-service-img {
    display: none;
}
/*END OF SECTION*/
section.sign-up{
    padding: 55px 40px 70px;
}
.sign-up-promo{
    width: 90%;
    float: none;
}
.sing-up-title {
    font-size: calc(11px + 2vw);
    text-align: center;
}
.sign-up-content {
    font-size: calc(7px + 2vw);
    text-align: center;
    line-height: 1.45;
    width: 100%;
}
.sign-up .demo-service-form {
    margin-top: calc(15px + 2vw);
    padding-left: 0;
}
.sign-up input.demo-service-form-input {
    width: calc(57px + 50vw);
    margin: auto;
    font-size: calc(6px + 1vw);
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    padding-left: calc(3px + 2vw);
    box-shadow: hsl(0, 5%, 12%) 1px 1px 5px 0.5px;
}
.sign-up button.demo-service-form-btn{
    display: block;
    width: calc(57px + 50vw);
    margin: auto;
    font-size: calc(6px + 1vw);
    letter-spacing: 0.06em;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    border-radius: 1vw;
    margin-top: 7px;
}
/*END OF MAIN*/

/*FOOTER*/
footer{
    padding: 68px 0px 0px;
}
.logoWhite{
    margin-left: 42px;
}
.footer-navbar {
    padding: 34px 43px 0;
}
.footer-navbar-address, .footer-main-nav, 
.footer-navbar-contacts, .footer-socials {
    display: block;
    float: none;
    width: 100%;
}
footer a {
    font-size: calc(8px + 2vw);
}
address a {
    margin: 8px 0px;
}
address .phone::before{
    margin-right: 18px;
}
address .email::before {
    margin-right: 18px;
}
footer ul {
    padding-left: 0;
}
.footer-main-nav {
    margin-top: 41px;
}
.footer-navbar-contacts {
    margin-top: 32px;
}
.footer-main-nav li,
.footer-navbar-contacts li {
    padding-left: 0;
}
footer li {
    font-size: calc(8px + 2vw);
    padding-left: 0;
}

/*SOCIALS*/
.footer-socials{
    margin: 44px auto 0;
    padding: 0;
    width: max-content;
}
li.social-item {
    width: calc(25px + 2vw);
    height: calc(25px + 2vw);
    margin: 0 5px;
}
li.social-item a{
    top: -25%;
    left: 25%;
}
/*END OF SOCIALS*/
/*END OF FOOTER*/


}